@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    direction: rtl;
    --scroll-behavior: smooth !important;
    scroll-behavior: smooth !important;
    /* background-color: #31333c;  ALTERNATE COLOR: #0f172a AND #232630 AND #151515 */
}

::selection {
    background-color: #e25687;
}

.ltr {
    direction: ltr !important;
    line-height: 2;
    /* font-size: 13px; */
}


/* ------------------ SVG COLOR CHANGE ------------------ */

.svg-red:hover,
.svg-red:active {
    filter: brightness(0) saturate(100%) invert(47%) sepia(79%) saturate(5829%) hue-rotate(333deg) brightness(86%) contrast(101%);
}

.svg-blue:hover,
svg-blue:active {
    filter: brightness(0) saturate(100%) invert(47%) sepia(30%) saturate(5950%) hue-rotate(212deg) brightness(95%) contrast(88%);
}

.svg-yellow:hover,
svg-yellow:active {
    filter: brightness(0) saturate(100%) invert(94%) sepia(78%) saturate(1495%) hue-rotate(316deg) brightness(103%) contrast(98%);
}

.svg-purple:hover,
svg-purple:active {
    filter: brightness(0) saturate(100%) invert(10%) sepia(77%) saturate(6575%) hue-rotate(278deg) brightness(104%) contrast(115%);
}

.svg-orange:hover,
svg-orange:active {
    filter: brightness(0) saturate(100%) invert(42%) sepia(35%) saturate(2875%) hue-rotate(340deg) brightness(102%) contrast(102%);
}



/* ------------------ COLUMN HELPER ------------------ */

.columnHelper {
    overflow: hidden;
    width: 60px;
    transition: all 0.5s;
    white-space: nowrap;
}

.columnSpan {
    display: inline-block;
    transform: translateX(-200%);
}


.columnHelper:hover .columnSpan {
    animation: columnHelperAnimation forwards 0.5s;
}

.columnHelper:hover {
    width: 250px;
}


@keyframes columnHelperAnimation {
    from {
        transform: translateX(-200%);
    }

    to {
        transform: translateX(0);
    }
}



/* ------------------ TAILWIND CUSTOM ------------------ */


.activeMobile {
    @apply px-4 py-2 dark:bg-[#e25687] font-semibold rounded-[10px] bg-[#1f2124] text-white;
}

.activeDesktop {
    @apply px-4 py-2 dark:bg-[#e25687] font-semibold rounded-[10px] bg-[#1f2124] text-white hover:opacity-[0.8];
}



/* ------------------ Prevent sticky hover effect after a touch (mobile devices) ------------------ */

@media (hover: none) {

    .fix-hover>*:hover,
    .fix-hover>*:active {
        transform: scale(1) !important;
    }
}

@media (hover: none) {

    .fix-hoverOpacity>*:hover,
    .fix-hoverOpacity>*:active {
        opacity: 1 !important;
    }
}

/* ------------------ BUTTON ANIMATIONS ------------------ */

.verticalAlignSub {
    vertical-align: sub;
}


/* ------------------ BUTTON ANIMATIONS ------------------ */

.btn-container {
    position: relative;
    overflow: hidden;
    cursor: pointer;
    width: 300px;
    margin: 10px auto;
}

.btn-container a {
    position: relative;
    left: 0;
    transition: all .35s ease-Out;
}

.arrow-container {
    width: 100%;
    height: 100%;
    /* background: #396b5e; */
    left: -200px;
    position: absolute;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .35s ease-Out;
    bottom: 0;
}

.btn-container img {
    width: 30px;
    height: auto;
}

.btn-container:hover .arrow-container {
    left: 0;
}

.btn-container:hover a {
    left: 300px;
}




/* ------------------ ANIMATIONS ------------------ */
.slideOutRight:active {
    animation-name: slideOutRight;
    animation-duration: 0.5s;
    animation-fill-mode: both;
}

@keyframes slideOutRight {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(150%);
    }
}

.fadeIn {
    animation-name: fadeIn;
    animation-duration: 2s;
    animation-fill-mode: both;
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


.fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }

    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }

    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}