@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    direction: rtl;
    /* background-color: #31333c;  ALTERNATE COLOR: #0f172a AND #232630 AND #151515 */
}


/* ------------------ Prevent sticky hover effect after a touch (mobile devices) ------------------ */

@media (hover: none) {

    .fix-hover>*:hover,
    .fix-hover>*:active {
        transform: scale(1) !important;
    }
}



/* ------------------ ANIMATIONS ------------------ */
.slideOutRight:active {
    animation-name: slideOutRight;
    animation-duration: 0.5s;
    animation-fill-mode: both;
}

@keyframes slideOutRight {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(150%);
    }
}